@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@font-face{font-family:'Jungle Adventurer';src:url('../fonts/JungleAdventurer.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Bold Pixels';src:url('../fonts/BoldPixels.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Bold Pixels Alt';src:url('../fonts/BoldPixels-alt.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
